doctype html
html
  head   
    title RapidMiner - #1 Open Source Predictive Analytics Platform
    block head-metas
      meta(charset="utf-8")
    block head-links
      link(rel='stylesheet' href='/css/font-awesome/font-awesome.css')
    block head-scripts
    block head-styles
  body
    .page-wrapper
      block navigation
        include navigation
      .content
        block content
      .overlay
