@mixin heading {
  font-family: $main-font;
  font-weight: $font-weight-normal;
}

h1, .h1 {
  @include heading;
  @include font-size(map-get($font-size-map, h1));
  text-transform: uppercase;
  margin: 20px 0;
}

h2, .h2 {
  @include heading;
  @include font-size(map-get($font-size-map, h2));
  font-weight: $font-weight-bold;
  margin: 20px 0;
}

h3, .h3 {
  @include heading;
  @include font-size(map-get($font-size-map, h3));
  margin: 20px 0;
}

h4, .h4 {
  @include heading;
  @include font-size(map-get($font-size-map, h4));
  margin: 20px 0;
}

h5, .h5 {
  @include heading;
  @include font-size(map-get($font-size-map, h5));
  margin: 20px 0;
}

h6, .h6 {
  @include heading;
  @include font-size(map-get($font-size-map, h6));
  margin: 20px 0;
}

a {
  font-weight: $font-weight-bold;
  @include transition(.1s);
  &:link {
    color: $rapid-blue;
  }
  &:visited {
    color: $rapid-blue;
  }
  &:hover {
    @include transition(.1s);
    color: $rapid-black;
  }
  &:active {
    color: $rapid-blue;
  }
  text-decoration: none;
}

.button {
  $button-padding: 36px;
  @mixin color-button($color) {
    background: $color;
    border-color: darken($color, 10);
  }
  @include color-button($rapid-blue);
  @include transition;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  padding: 0 $button-padding;
  line-height: 36px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  border: {
    radius: $element-radius;
    width: 0;
    bottom-width: 3px;
    style: solid;
  }
  &:link, &:visited, &:hover, &:active {
    color: #fff;
  }
  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    @include transition;
  }
  &--rapid-yellow {
    @include color-button($rapid-yellow) ;
  }
  &--rapid-black {
    @include color-button($rapid-black) ;
  }
  &--rapid-orange {
    @include color-button($rapid-orange) ;
  }
  &--rapid-grey {
    @include color-button($rapid-grey) ;
  }
  &--prominent {
    padding: $button-padding*0.5 $button-padding*2;
  }
  &--clean {
    background: #fff;
    &:link, &:visited, &:hover, &:active {
      color: $rapid-blue;
      box-shadow: none;
    }
    &:hover {
      background: $rapid-blue;
      color: #fff;
    }
    border: 1px solid $rapid-blue;
  }
}

strong {
  font-weight: $font-weight-semi-bold;
}

em {
  font-style: italic;
}

blockquote {
  margin: 20px auto;
  padding-left: 24px;
  border-left: 5px solid $rapid-blue;
  line-height: $line-height;
}

p {
  line-height: $line-height;
}

li {
  margin: 10px auto;
  &:before {
    font-weight: $font-weight-bold;
    margin-right: 10px;
    content: "• ";
    color: $rapid-blue;
  }
}

label {
  @include font-size(map-get($font-size-map, base));
  display: inline-block;
  margin-right: 10px;
  width: 200px;
}

.form {
  &__row {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }
  &__input {
    & > label {
      margin-bottom: 10px;
    }
    & > input, & > select {
      @include font-size(map-get($font-size-map, base));
      background: #fff;
      display: inline-block;
      border-radius: $element-radius;
      border: 1px solid $rapid-blue;
      padding: 10px;
      height: 40px;
      width: 100%;
    }
  }
  &__input--disabled {
    & > input, & > select {
      color: $rapid-grey;
      cursor: default;
      user-select: none;
      border: 1px solid lighten($rapid-grey, 20);
    }
  }
  &__input--error {
    & > input, & > select {
      color: $rapid-orange;
      border-color: $rapid-orange;
    }
    &:after {
      @include font-size(10px 0.625rem);
      display: inline-block;
      padding-left: 10px;
      font-weight: $font-weight-bold;
      content: attr(data-error);
      color: $rapid-orange;
    }
  }
}
