extends ../../base/template.jade

block head-styles
  link(rel="stylesheet" type="text/css" media="all" href="/css/landing.css")
  
block content
  header
    h1 RapidMiner
    p Mashup - Predict - Operationalize
    a.btn.btn--big.btn--orange(href="#") Learn More
  section#features
    .feature
  section#marketplace
     
