extends ../../base/template.jade

append head-links
  link(rel='stylesheet' type='text/css' media='all' href='#{ urlPath.static.css }/landing.css')
  
block content
  header
    h1 RapidMiner
    p Mashup - Predict - Operationalize
    a.btn.btn--big.btn--orange(href="#") Learn More
  section#features
    .feature
  section#marketplace
     
